<beans>
    <import resource = "src/test/groovy/com/gordeev/applicationcontextlibrary/fortest/email-context.xml"/>

    <bean id="userService" class="com.gordeev.applicationcontextlibrary.fortest.UserService">
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentWithMaxService" class="com.gordeev.applicationcontextlibrary.fortest.PaymentWithMaxService">
        <property name="maxAmount" value="5000"/>
        <property name="mailService" ref="mailService"/>
    </bean>

    <bean id="paymentService" class="com.gordeev.applicationcontextlibrary.fortest.PaymentService">
        <property name="mailService" ref="mailService"/>
    </bean>
</beans>